__pycache__/
wandb/
*.ckpt
.vscode/
data_cache
data_cache/
checkpoints/*/data/
output_*
*.egg-info/
*.arrow
fs-light-speed-llm-new/

paths.txt
search.sh
checkpoints/qwen3-test
checkpoints/qwen3-test/*
src/ptp/data/sample_loader.py
example_sample_dataloader.py
test_max_batch_size.py

checkpoints/.cache/
